<a href="https://colab.research.google.com/github/Sanjeev00001/Machine-Learning-1/blob/main/perceptron_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dataset=pd.read_csv('/content/adult.csv', header=None, na_values=' ?')

In [ ]:
dataset.shape

(32561, 15)

In [ ]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
dataset.columns=['age', 'workclass','wgt', 'edu','edu_num', 'marital_status',
                 'occ', 'relation','race', 'sex', 'gain','loss', 'hpw', 'country', 'income']

In [ ]:
dataset.head()

,age,workclass,wgt,edu,edu_num,marital_status,occ,relation,race,sex,gain,loss,hpw,country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
dataset.isnull().sum()

age                  0
workclass         1836
wgt                  0
edu                  0
edu_num              0
marital_status       0
occ               1843
relation             0
race                 0
sex                  0
gain                 0
loss                 0
hpw                  0
country            583
income               0
dtype: int64

In [ ]:
from sklearn.impute import SimpleImputer
si=SimpleImputer(strategy='most_frequent')
dataset1=si.fit_transform(dataset)
print(pd.DataFrame(dataset1).isnull().sum())

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
dtype: int64

In [ ]:
dataset1=pd.DataFrame(dataset1)
dataset1.columns=['age', 'workclass','wgt', 'edu','edu_num', 'marital_status',
                 'occ', 'relation','race', 'sex', 'gain','loss', 'hpw', 'country', 'income']
print(dataset1.head())

  age          workclass     wgt         edu edu_num       marital_status  \
0  39          State-gov   77516   Bachelors      13        Never-married
1  50   Self-emp-not-inc   83311   Bachelors      13   Married-civ-spouse
2  38            Private  215646     HS-grad       9             Divorced
3  53            Private  234721        11th       7   Married-civ-spouse
4  28            Private  338409   Bachelors      13   Married-civ-spouse

                  occ        relation    race      sex  gain loss hpw  \
0        Adm-clerical   Not-in-family   White     Male  2174    0  40
1     Exec-managerial         Husband   White     Male     0    0  13
2   Handlers-cleaners   Not-in-family   White     Male     0    0  40
3   Handlers-cleaners         Husband   Black     Male     0    0  40
4      Prof-specialty            Wife   Black   Female     0    0  40

          country  income
0   United-States   <=50K
1   United-States   <=50K
2   United-States   <=50K
3   United-States   <=50K
4            Cuba   <=50K

In [ ]:
cols=['workclass','edu','marital_status','occ', 'relation', 'race', 'sex','country','income']
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for i in cols:
  dataset1[i]=le.fit_transform(dataset1[i])
print(dataset1.head())

  age  workclass     wgt  edu edu_num  marital_status  occ  relation  race  \
0  39          6   77516    9      13               4    0         1     4
1  50          5   83311    9      13               2    3         0     4
2  38          3  215646   11       9               0    5         1     4
3  53          3  234721    1       7               2    5         0     2
4  28          3  338409    9      13               2    9         5     2

   sex  gain loss hpw  country  income
0    1  2174    0  40       38       0
1    1     0    0  13       38       0
2    1     0    0  40       38       0
3    1     0    0  40       38       0
4    0     0    0  40        4       0

In [ ]:
target=dataset1['income']
input=dataset1.drop(columns=['income'])
input.shape

(32561, 14)

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(input, target, test_size=0.25)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
xtrain_sc=sc.fit_transform(x_train)
xtest_sc=sc.transform(x_test)

In [ ]:
y_train.unique()

array([0, 1])

In [ ]:
y_train.shape

(24420,)

In [ ]:
(y_train == 0).sum()

18526

In [ ]:
(y_train==1).sum()

5894

In [ ]:
from sklearn.linear_model import Perceptron

In [ ]:
P=Perceptron()

In [ ]:
#from sklearn.linear_model import Perceptron
#p=Perceptron()
#p.fit(xtrain_sc, y_train)
P.fit(x_train,_matrics)

print("y_train")  ## for accuracy

NameError: name '_matrics' is not defined

In [ ]:
train_pred=p.predict(x_train)
test_pred=p.predict(x_test)

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but Perceptron was fitted without feature names
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but Perceptron was fitted without feature names
  warnings.warn(

In [ ]:
from sklearn.metrics import accuracy_score
print("Tranning Accurscy:", accuracy_score(train_pred,y_train))
print("Testing Accurscy:", accuracy_score(test_pred,y_test))

NameError: name 'train_pred' is not defined

In [ ]:
from sklearn.metrics import confusion_matrix
print("confusion matrix:")
print(confusion_matrix(train_pred, y_train))

confusion matrix:

NameError: name 'train_pred' is not defined