<a href="https://colab.research.google.com/github/Sanjeev00001/Machine-Learning-1/blob/main/preprocessing_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dataset = pd.read_csv('/content/adult.csv', header = None, na_values = ' ?')

In [ ]:
dataset.shape

(32561, 15)

In [ ]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
dataset.columns=['age', 'workclass', 'wgt' , 'edu', 'edu_num', 'marital_status', 'occup', 'relation', 'race' ,'sex' ,'gain', 'loss', 'hpw', 'country', 'income']

In [ ]:
dataset.head()

,age,workclass,wgt,edu,edu_num,marital_status,occup,relation,race,sex,gain,loss,hpw,country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
## to find the null values
dataset.isnull().sum()

age                  0
workclass         1836
wgt                  0
edu                  0
edu_num              0
marital_status       0
occup             1843
relation             0
race                 0
sex                  0
gain                 0
loss                 0
hpw                  0
country            583
income               0
dtype: int64

In [ ]:
# impute the data
# sklearn =  dataset is converted into dataframe
from sklearn.impute import SimpleImputer
si=SimpleImputer(strategy='most_frequent')
dataset1=si.fit_transform(dataset)
print(pd.DataFrame(dataset1).isnull().sum())

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
dtype: int64

In [ ]:
dataset1=pd.DataFrame(dataset1)
print(dataset1.head())

   0                  1       2           3   4                    5   \
0  39          State-gov   77516   Bachelors  13        Never-married
1  50   Self-emp-not-inc   83311   Bachelors  13   Married-civ-spouse
2  38            Private  215646     HS-grad   9             Divorced
3  53            Private  234721        11th   7   Married-civ-spouse
4  28            Private  338409   Bachelors  13   Married-civ-spouse

                   6               7       8        9     10 11  12  \
0        Adm-clerical   Not-in-family   White     Male  2174  0  40
1     Exec-managerial         Husband   White     Male     0  0  13
2   Handlers-cleaners   Not-in-family   White     Male     0  0  40
3   Handlers-cleaners         Husband   Black     Male     0  0  40
4      Prof-specialty            Wife   Black   Female     0  0  40

               13      14
0   United-States   <=50K
1   United-States   <=50K
2   United-States   <=50K
3   United-States   <=50K
4            Cuba   <=50K

In [ ]:
dataset1=pd.DataFrame(dataset1)
dataset1.columns=['age', 'workclass', 'wgt' , 'edu', 'edu_num', 'marital_status', 'occup', 'relation', 'race' ,'sex' ,'gain', 'loss', 'hpw', 'country', 'income']
print(dataset1.head())

  age          workclass     wgt         edu edu_num       marital_status  \
0  39          State-gov   77516   Bachelors      13        Never-married
1  50   Self-emp-not-inc   83311   Bachelors      13   Married-civ-spouse
2  38            Private  215646     HS-grad       9             Divorced
3  53            Private  234721        11th       7   Married-civ-spouse
4  28            Private  338409   Bachelors      13   Married-civ-spouse

                occup        relation    race      sex  gain loss hpw  \
0        Adm-clerical   Not-in-family   White     Male  2174    0  40
1     Exec-managerial         Husband   White     Male     0    0  13
2   Handlers-cleaners   Not-in-family   White     Male     0    0  40
3   Handlers-cleaners         Husband   Black     Male     0    0  40
4      Prof-specialty            Wife   Black   Female     0    0  40

          country  income
0   United-States   <=50K
1   United-States   <=50K
2   United-States   <=50K
3   United-States   <=50K
4            Cuba   <=50K

In [ ]:
cols=['workclass', 'edu', 'marital_status','occup', 'relation', 'race', 'sex', 'country', 'income']
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for i in cols:
  dataset1[i]=le.fit_transform(dataset1[i])
print(dataset1.head())

  age  workclass     wgt  edu edu_num  marital_status  occup  relation  race  \
0  39          6   77516    9      13               4      0         1     4
1  50          5   83311    9      13               2      3         0     4
2  38          3  215646   11       9               0      5         1     4
3  53          3  234721    1       7               2      5         0     2
4  28          3  338409    9      13               2      9         5     2

   sex  gain loss hpw  country  income
0    1  2174    0  40       38       0
1    1     0    0  13       38       0
2    1     0    0  40       38       0
3    1     0    0  40       38       0
4    0     0    0  40        4       0

In [ ]:
dataset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  object
 1   workclass       32561 non-null  int64
 2   wgt             32561 non-null  object
 3   edu             32561 non-null  int64
 4   edu_num         32561 non-null  object
 5   marital_status  32561 non-null  int64
 6   occup           32561 non-null  int64
 7   relation        32561 non-null  int64
 8   race            32561 non-null  int64
 9   sex             32561 non-null  int64
 10  gain            32561 non-null  object
 11  loss            32561 non-null  object
 12  hpw             32561 non-null  object
 13  country         32561 non-null  int64
 14  income          32561 non-null  int64
dtypes: int64(9), object(6)
memory usage: 3.7+ MB

In [ ]:
cols1=['age','wgt', 'edu_num', 'gain', 'loss', 'hpw']
for i in cols1:
  dataset1[i] = dataset1[i].astype('int64')
dataset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  int64
 2   wgt             32561 non-null  int64
 3   edu             32561 non-null  int64
 4   edu_num         32561 non-null  int64
 5   marital_status  32561 non-null  int64
 6   occup           32561 non-null  int64
 7   relation        32561 non-null  int64
 8   race            32561 non-null  int64
 9   sex             32561 non-null  int64
 10  gain            32561 non-null  int64
 11  loss            32561 non-null  int64
 12  hpw             32561 non-null  int64
 13  country         32561 non-null  int64
 14  income          32561 non-null  int64
 15  1               32561 non-null  int64
dtypes: int64(16)
memory usage: 4.0 MB

In [ ]:
dataset1.describe()

,age,workclass,wgt,edu,edu_num,marital_status,occup,relation,race,sex,gain,loss,hpw,country,income,1
count,32561.000000,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,3.094438,1.897784e+05,10.298210,10.080679,2.611836,6.138755,1.446362,3.665858,0.669205,1077.648844,87.303830,40.437456,36.417155,0.240810,40.437456
std,13.640433,1.107194,1.055500e+05,3.870264,2.572720,1.506222,3.972708,1.606771,0.848806,0.470506,7385.292085,402.960219,12.347429,6.056047,0.427581,12.347429
min,17.000000,0.000000,1.228500e+04,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
25%,28.000000,3.000000,1.178270e+05,9.000000,9.000000,2.000000,3.000000,0.000000,4.000000,0.000000,0.000000,0.000000,40.000000,38.000000,0.000000,40.000000
50%,37.000000,3.000000,1.783560e+05,11.000000,10.000000,2.000000,6.000000,1.000000,4.000000,1.000000,0.000000,0.000000,40.000000,38.000000,0.000000,40.000000
75%,48.000000,3.000000,2.370510e+05,12.000000,12.000000,4.000000,9.000000,3.000000,4.000000,1.000000,0.000000,0.000000,45.000000,38.000000,0.000000,45.000000
max,90.000000,7.000000,1.484705e+06,15.000000,16.000000,6.000000,13.000000,5.000000,4.000000,1.000000,99999.000000,4356.000000,99.000000,40.000000,1.000000,99.000000

In [ ]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
dataset_std = sc.fit_transform(dataset1)
dataset_std=pd.DataFrame(dataset_std)
print(dataset_std.describe())

TypeError: Feature names are only supported if all input features have string names, but your input has ['int', 'str'] as feature name / column name types. If you want feature names to be stored and validated, you must convert them all to strings, by using X.columns = X.columns.astype(str) for example. Otherwise you can remove feature / column names from your input data, or convert them all to a non-string data type.