<a href="https://colab.research.google.com/github/Sanjeev00001/Machine-Learning-1/blob/main/datapreprocess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/demo1.csv')

In [ ]:
df.shape

(9, 4)

In [ ]:
print(df)

  Ethinicity  Height  Weight Survive
0      White   186.0    90.0     Yes
1    African   185.0    98.0      No
2      Asian   175.0    80.0      No
3    African   180.0    88.0     Yes
4      Asian   178.0     NaN      No
5      Asian   172.0    72.0     Yes
6      White   178.0    75.0      No
7      White     NaN    89.0     Yes
8    African   186.0    90.0     Yes

In [ ]:
#### remove column contains NAN values

df1=df.dropna(axis=1)
print(df1)

  Ethinicity Survive
0      White     Yes
1    African      No
2      Asian      No
3    African     Yes
4      Asian      No
5      Asian     Yes
6      White      No
7      White     Yes
8    African     Yes

In [ ]:
#### remove rows with NAN values

df2=df.dropna(axis=0)
print(df2)

  Ethinicity  Height  Weight Survive
0      White   186.0    90.0     Yes
1    African   185.0    98.0      No
2      Asian   175.0    80.0      No
3    African   180.0    88.0     Yes
5      Asian   172.0    72.0     Yes
6      White   178.0    75.0      No
8    African   186.0    90.0     Yes

In [ ]:
### drop rows where all columns are NAN

df3=df.dropna(axis=0, how='all')
print(df3)

  Ethinicity  Height  Weight Survive
0      White   186.0    90.0     Yes
1    African   185.0    98.0      No
2      Asian   175.0    80.0      No
3    African   180.0    88.0     Yes
4      Asian   178.0     NaN      No
5      Asian   172.0    72.0     Yes
6      White   178.0    75.0      No
7      White     NaN    89.0     Yes
8    African   186.0    90.0     Yes

In [ ]:
### drop rows where any of  column is NAN

df4=df.dropna(axis=0, how='any')
print(df4)

  Ethinicity  Height  Weight Survive
0      White   186.0    90.0     Yes
1    African   185.0    98.0      No
2      Asian   175.0    80.0      No
3    African   180.0    88.0     Yes
5      Asian   172.0    72.0     Yes
6      White   178.0    75.0      No
8    African   186.0    90.0     Yes

In [ ]:
### delete rows when not have threshold non-NAN values

df5=df.dropna(axis=0, thresh=4)
print(df5)

  Ethinicity  Height  Weight Survive
0      White   186.0    90.0     Yes
1    African   185.0    98.0      No
2      Asian   175.0    80.0      No
3    African   180.0    88.0     Yes
5      Asian   172.0    72.0     Yes
6      White   178.0    75.0      No
8    African   186.0    90.0     Yes

In [ ]:
### delete rows if NAN appears in specific column
df6=df.dropna(axis=0, subset=['Height'])
print(df6)

  Ethinicity  Height  Weight Survive
0      White   186.0    90.0     Yes
1    African   185.0    98.0      No
2      Asian   175.0    80.0      No
3    African   180.0    88.0     Yes
4      Asian   178.0     NaN      No
5      Asian   172.0    72.0     Yes
6      White   178.0    75.0      No
8    African   186.0    90.0     Yes

In [ ]:
df7=df.copy()
from sklearn.impute import SimpleImputer
si=SimpleImputer(strategy='mean')
df7[['Height']]=si.fit_transform(df7[['Height']])
df7[['Weight']]=si.fit_transform(df7[['Weight']])
print(df7)

  Ethinicity  Height  Weight Survive
0      White   186.0   90.00     Yes
1    African   185.0   98.00      No
2      Asian   175.0   80.00      No
3    African   180.0   88.00     Yes
4      Asian   178.0   85.25      No
5      Asian   172.0   72.00     Yes
6      White   178.0   75.00      No
7      White   180.0   89.00     Yes
8    African   186.0   90.00     Yes

In [ ]:
df7=df.copy()
from sklearn.impute import SimpleImputer
si=SimpleImputer(strategy='median')
df7[['Height']]=si.fit_transform(df7[['Height']])
df7[['Weight']]=si.fit_transform(df7[['Weight']])
print(df7)

  Ethinicity  Height  Weight Survive
0      White   186.0    90.0     Yes
1    African   185.0    98.0      No
2      Asian   175.0    80.0      No
3    African   180.0    88.0     Yes
4      Asian   178.0    88.5      No
5      Asian   172.0    72.0     Yes
6      White   178.0    75.0      No
7      White   179.0    89.0     Yes
8    African   186.0    90.0     Yes

In [ ]:
df7=df.copy()
from sklearn.impute import SimpleImputer
si=SimpleImputer(strategy='most_frequent')
#df7[['Height']]=si.fit_transform(df7[['Height']])
#df7[['Weight']]=si.fit_transform(df7[['Weight']])
df7=si.fit_transform(df)
print(df7)

[['White' 186.0 90.0 'Yes']
 ['African' 185.0 98.0 'No']
 ['Asian' 175.0 80.0 'No']
 ['African' 180.0 88.0 'Yes']
 ['Asian' 178.0 90.0 'No']
 ['Asian' 172.0 72.0 'Yes']
 ['White' 178.0 75.0 'No']
 ['White' 178.0 89.0 'Yes']
 ['African' 186.0 90.0 'Yes']]

In [ ]:
df7=pd.DataFrame(df7)
df7.columns=['Ethinicity', 'Height','Weight','Survive']
#print(df7)
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df7['Ethinicity']=le.fit_transform(df7['Ethinicity'])
df7['Survive']=le.fit_transform(df7['Survive'])

In [ ]:
print(df7)

   Ethinicity Height Weight  Survive
0           2  186.0   90.0        1
1           0  185.0   98.0        0
2           1  175.0   80.0        0
3           0  180.0   88.0        1
4           1  178.0   90.0        0
5           1  172.0   72.0        1
6           2  178.0   75.0        0
7           2  178.0   89.0        1
8           0  186.0   90.0        1

In [ ]:
print(df)

  Ethinicity  Height  Weight Survive
0      White   186.0    90.0     Yes
1    African   185.0    98.0      No
2      Asian   175.0    80.0      No
3    African   180.0    88.0     Yes
4      Asian   178.0     NaN      No
5      Asian   172.0    72.0     Yes
6      White   178.0    75.0      No
7      White     NaN    89.0     Yes
8    African   186.0    90.0     Yes

In [ ]:
ohe1=pd.get_dummies(df['Ethinicity'])
print(ohe1)

   African  Asian  White
0        0      0      1
1        1      0      0
2        0      1      0
3        1      0      0
4        0      1      0
5        0      1      0
6        0      0      1
7        0      0      1
8        1      0      0

In [ ]:
from sklearn.preprocessing import OneHotEncoder
ohe2=OneHotEncoder()
df8=ohe2.fit_transform(df[['Ethinicity']])
print(df8)

  (0, 2)	1.0
  (1, 0)	1.0
  (2, 1)	1.0
  (3, 0)	1.0
  (4, 1)	1.0
  (5, 1)	1.0
  (6, 2)	1.0
  (7, 2)	1.0
  (8, 0)	1.0

In [ ]:
print(df)

  Ethinicity  Height  Weight Survive
0      White   186.0    90.0     Yes
1    African   185.0    98.0      No
2      Asian   175.0    80.0      No
3    African   180.0    88.0     Yes
4      Asian   178.0     NaN      No
5      Asian   172.0    72.0     Yes
6      White   178.0    75.0      No
7      White     NaN    89.0     Yes
8    African   186.0    90.0     Yes

In [ ]:
si=SimpleImputer(strategy='most_frequent')
df10=si.fit_transform(df)
print(df10)

[['White' 186.0 90.0 'Yes']
 ['African' 185.0 98.0 'No']
 ['Asian' 175.0 80.0 'No']
 ['African' 180.0 88.0 'Yes']
 ['Asian' 178.0 90.0 'No']
 ['Asian' 172.0 72.0 'Yes']
 ['White' 178.0 75.0 'No']
 ['White' 178.0 89.0 'Yes']
 ['African' 186.0 90.0 'Yes']]

In [ ]:
df10=pd.DataFrame(df10)
print(df10.describe())

            0      1     2    3
count       9    9.0   9.0    9
unique      3    6.0   7.0    2
top     White  178.0  90.0  Yes
freq        3    3.0   3.0    5

In [ ]:
df10[0]=le.fit_transform(df10[0])
df10[3]=le.fit_transform(df10[3])
print(df10)

   0      1     2  3
0  2  186.0  90.0  1
1  0  185.0  98.0  0
2  1  175.0  80.0  0
3  0  180.0  88.0  1
4  1  178.0  90.0  0
5  1  172.0  72.0  1
6  2  178.0  75.0  0
7  2  178.0  89.0  1
8  0  186.0  90.0  1

In [ ]:
print(df10.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       9 non-null      int64
 1   1       9 non-null      object
 2   2       9 non-null      object
 3   3       9 non-null      int64
dtypes: int64(2), object(2)
memory usage: 416.0+ bytes
None

In [ ]:
df10[1]=df10[1].astype('int64')
df10[2]=df10[2].astype('int64')

In [ ]:
df10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       9 non-null      int64
 1   1       9 non-null      int64
 2   2       9 non-null      int64
 3   3       9 non-null      int64
dtypes: int64(4)
memory usage: 416.0 bytes

In [ ]:
df10.describe()

              0           1          2         3
count  9.000000    9.000000   9.000000  9.000000
mean   1.000000  179.777778  85.777778  0.555556
std    0.866025    4.969351   8.348320  0.527046
min    0.000000  172.000000  72.000000  0.000000
25%    0.000000  178.000000  80.000000  0.000000
50%    1.000000  178.000000  89.000000  1.000000
75%    2.000000  185.000000  90.000000  1.000000
max    2.000000  186.000000  98.000000  1.000000

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
df11=sc.fit_transform(df10)
print(pd.DataFrame(df11).describe())

              0             1             2             3
count  9.000000  9.000000e+00  9.000000e+00  9.000000e+00
mean   0.000000  1.406282e-15  8.264994e-16 -9.868649e-17
std    1.060660  1.060660e+00  1.060660e+00  1.060660e+00
min   -1.224745 -1.660092e+00 -1.750477e+00 -1.118034e+00
25%   -1.224745 -3.794496e-01 -7.340709e-01 -1.118034e+00
50%    0.000000 -3.794496e-01  4.093857e-01  8.944272e-01
75%    1.224745  1.114633e+00  5.364364e-01  8.944272e-01
max    1.224745  1.328074e+00  1.552842e+00  8.944272e-01

In [ ]:
from sklearn.preprocessing import MinMaxScaler
norm=MinMaxScaler()
df12=norm.fit_transform(df10)
print(pd.DataFrame(df12).describe())

              0         1         2         3
count  9.000000  9.000000  9.000000  9.000000
mean   0.500000  0.555556  0.529915  0.555556
std    0.433013  0.354954  0.321089  0.527046
min    0.000000  0.000000  0.000000  0.000000
25%    0.000000  0.428571  0.307692  0.000000
50%    0.500000  0.428571  0.653846  1.000000
75%    1.000000  0.928571  0.692308  1.000000
max    1.000000  1.000000  1.000000  1.000000